p, h1, h2 {
    font-family:sans-serif
}


/* styles for the header component */
.header {
    display: flex;
}

.calcDecor {
    width: 40%;
    background: rgb(248,254,254);
    padding: 0 10%;
    background: linear-gradient(90deg, rgba(248,254,254,1) 0%, rgba(194,247,245,1) 48%, rgba(175,246,250,1) 81%);
    height: 60vh;
    border-bottom-right-radius: 40px;
    padding-top: 90px;
}

.decorDes {
    width: 70%;
} 

/* styles for calculator component */
.bmi-div {
    padding: 20px;
    margin-top: 90px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px gray;
    margin-left: -10%;
    height: 70%;
}

.bmi-div .metric-options {
    display: flex;
}

.bmi-div .metric-options .imperial {
    margin-left: 170px;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

/* styles for metricInput component */
.metric-inputs {
    display: flex;
    margin-top: 15px;
}

.metric-inputs .weight {
    margin-left: 90px;
}

label[for="weight"], label[for="height"] {
    font-size: 10pt;
}

input[type="text"] {
    margin-top: 5px;
    height: 40px;
    width: 150px;
    border: 1px solid rgb(178, 178, 182);
    border-radius: 5px;
    outline: none;
    font-size: 14pt;
    font-weight: bold;
}

input[value="0"] { 
    color: gray;
}

.unit {
    display: flex;
}

.unit p {
    margin-left: -30px;
    font-weight: bold;
    color: blue;
}

/* styles for BMI result component */
.BMI-result {
    background-color: rgb(84, 84, 250);
    color: white;
    width: 90%;
    height: 90px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 15px;
}

.BMI-result p {
    padding-top: 5px;
}

.BMI-result .result {
    width: 90%;
    font-size: 10pt;
    color: rgb(220, 222, 224);
}

.welcome {
    font-weight: bold;
}

.bmi-after-calc {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.bmi-after-calc .info {
    width: 40%;
}

/* styles for midsection component */
.mid-section {
    margin-top: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mid-section .advice {
    font-size: 10pt;
    width: 80%;
    min-width: 50%;
}

.sec1 {
    background:  linear-gradient(0deg, rgba(238,255,255,1) 28%, rgba(199,251,239,1) 89%);
    width: 340px;
    height: 235px;
    border-radius: 20px;
    margin-right: 10px;
    margin: 5px;
}
.sec1 img {
    padding-left: 20px;
    margin-top: -100px;
    width: 300px;
    margin-bottom: -10px;
}

.sec2 {
    width: 40%;
}




/* add styles for small screens */
@media screen and (max-width: 950px) {

    /* styles for header section */    
    .header {
        flex-direction: column;
    }

    .calcDecor {
        width: 100%;
        padding: 0 0;
        margin: 0;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        height: 100%;
        padding-bottom: 60px;
    }

    .bmi-div {
        width: 70%;
        margin: 0;
        margin: 0 auto;
        margin-top: -130px;

    }

    .calcDecor h1, .decorDes {
        padding-left: 70px;
        width: 60%;
        text-align: center;    
    }


    .metric-inputs .weight {
        margin-left: 0px;
    }

    .bmi-div .metric-inputs {
        flex-direction: column;
    }


    .bmi-div .metric-options .imperial {
        margin-left: 30px;
    }
    
    input[type="text"] {
        width: 90%;
        height: 50px;
    }
}

@media screen and (min-width: 250px) and (max-width: 950px) {
    .bmi-div {
        margin-top: -15px;
    }
}

@media screen and (min-width: 550px) and (max-width: 950px) {
    .bmi-div .metric-inputs {
        flex-direction: row;
    }

    .bmi-div .metric-options .imperial {
        margin-left: 30vw;
    }

    .metric-inputs .weight {
        margin-left: 10vw;
    }   
}

@media screen and (max-width: 590px) {
    
    .header {
        width: 100%;
        margin-right: 0;
    }
    /* make bmi results larger on small screens */

    .BMI-result {
        margin-top: 10px;
        height: 200px;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mid-section .sec1 {
        width: 80%;
        margin: 0;
        min-width: 360px;
    }
    .mid-section .sec2 {
        margin-top: 20px;
        width: 80%;
    }
    .sec1 img {
        margin-left: 5%;
        margin-right: 5%;
    }

    .mid-section .advice {
        width: 100%;
    }
}